<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="blitz.gg" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-misc-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="coretemp" />
  <package id="deskpins" />
  <package id="dotnet-6.0-desktopruntime" />
  <package id="DotNet4.5.2" />
  <package id="ds4windows" />
  <package id="epicgameslauncher" />
  <package id="ffmpeg" />
  <package id="joal-desktop" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="leagueoflegends" />
  <package id="logitechgaming" />
  <package id="mpv.net" />
  <package id="mpvnet.install" />
  <package id="mpvnet.portable" />
  <package id="netfx-4.8" />
  <package id="obs-studio" />
  <package id="obs-studio.install" />
  <package id="obsidian" />
  <package id="parsec" />
  <package id="razer-synapse-3" />
  <package id="rufus" />
  <package id="spacesniffer" />
  <package id="teamviewer" />
  <package id="vcredist140" />
  <package id="vcredist2010" />
  <package id="vcredist2017" />
  <package id="ventoy" />
  <package id="vividl" />
  <package id="vscodium" />
  <package id="vscodium.install" />
  <package id="yt-dlp" />
</packages>